.threads-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  /* Performance optimizations */
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.threads-container canvas {
  width: 100%;
  height: 100%;
  display: block;
  /* GPU acceleration */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
